<p id="notice"><%= notice %></p>

<p>
  <strong>Room informations:</strong>
  <%= @room.room_number %>
  <%= @room.room_information.room_type %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
